* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

:root {
  --main-background-color: rgb(25, 25, 25);
  --card-background-color: rgb(47, 47, 47);
  --section-background-color: rgb(28, 28, 28);
  --card-hover-background-color: rgb(55, 55, 55);
  --main-font-color: rgba(255, 255, 255, .81);
  --secondary-font-color: rgb(127, 127, 127);
  --empty-font-color: rgba(255, 255, 255, 0.282);
}

body {
  background-color: var(--main-background-color);
  color: var(--main-font-color);
  font-size: 18px;
  line-height: 1.5;
  user-select: none;
}

/* Layout */
.container {
  display: grid;
  height: 100vh;
  margin: 0 auto;
  grid-template-rows: 1fr 2rem;
  justify-content: center;
  align-items: center;
}

/* Form Content */
.form-card {
  width: 600px;
  height: fit-content;
  padding: 2rem;
  margin: 1rem;
  background-color: var(--card-background-color);
  border-radius: 4px;
  box-shadow: rgb(15 15 15 / 10%) 0px 0px 0px 1px, rgb(15 15 15 / 10%) 0px 2px 4px;
  text-decoration: none;
}

.form-card>h1 {
  text-align: center;
}

.form-item {
  font-size: 20px;
  padding: 24px 0px;
  display: flex;
}

.form-item>* {
  width: 50%;
}

.form-input {
  display: flex;
  flex-direction: column;
}

.error {
  background-color: #7f1d1d;
  border-radius: 2px;
  font-size: 12px;
  padding: 0px 4px;
}

/* Footer */
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

/* General Styling */
button {
  color: var(--main-font-color);
  font-size: 24px;
  border: none;
  padding: 10px;
  width: 100%;
  border-radius: 4px;
  cursor: pointer;
  height: 3rem;
  background-color: var(--section-background-color);
  box-shadow: rgb(15 15 15 / 10%) 0px 0px 0px 1px, rgb(15 15 15 / 10%) 0px 2px 4px;
}

button,
.first-form-item {
  margin-top: 1rem;
}

input {
  background-color: transparent;
  border: inherit;
  outline: none;
  font-size: inherit;
  color: var(--main-font-color);
  cursor: auto;
  border-bottom: 1px solid var(--secondary-font-color);
  background-color: rgba(255, 255, 255, 0.055);
  border-radius: 4px;
  height: 40px;
  padding: 5px;
  box-shadow: rgb(15 15 15 / 10%) 0px 0px 0px 1px, rgb(15 15 15 / 10%) 0px 2px 4px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: var(--main-font-color);
}

h1 {
  font-size: 36px;
}

hr {
  background-color: var(--main-font-color);
  border: none;
  height: 1px;
}

/* Hover */
input:hover {
  background-color: var(--card-hover-background-color);
}

button:hover {
  background-color: var(--main-background-color);
}

/* Valid/Invalid */
input:invalid {
  border-bottom: 2px solid #7f1d1d;
}

input:valid {
  border-bottom: 2px solid #064e3b;
}